
.SoundButton {
   position: absolute;
   bottom: 3rem;
   display: block;
   outline: none; //may god have mercy on my soul
   width: 100px;
   height: 30px;
   cursor: pointer;
   border: none;
   background: none;
   display: flex;
   align-items: center;
   color: var(--default-color);
   transition: var(--transition-time);

   &:hover {
      color: var(--active-color)
   }

   &__label {
      font-size: 1.3rem;
      font-weight: 600;
      margin-right: 8px;
   }

   &__pill {
      border: solid 1px var(--default-color);
      border-radius: 2rem;
      width: 3.8rem;
      display: flex;
      padding: .1rem;

      &--active {
         // border: solid 1px var(--active-color);
      }
   }

   &__circle {
      fill: var(--default-color);
      margin-left: 0;
      transition: 100ms;

      &--active {
         fill: var(--active-color);
         margin-left: 18px;
      }
   }
}