
.SoundButton {
   position: absolute;
   left: 1rem;
   bottom: 3rem;
   display: block;
   outline: none; //may god have mercy on my soul
   width: 10rem;
   height: 4.4rem;
   cursor: pointer;
   border: none;
   background: none;
   display: flex;
   align-items: center;
   color: var(--default-color);
   transition: var(--transition-time);

   &:hover {
      color: var(--active-color)
   }

   &__label {
      font-size: 1.3rem;
      font-weight: 600;
      margin-right: .8rem;
   }

   &__pill {
      border: solid .1rem var(--default-color);
      border-radius: 2rem;
      width: 3.8rem;
      display: flex;
      padding: .1rem;
   }

   &__circle {
      fill: var(--default-color);
      margin-left: 0;
      transition: 100ms;

      &--active {
         fill: var(--active-color);
         margin-left: 1.8rem;
      }
   }
}

@media screen and (max-width: 900px) {
   .SoundButton {
      bottom: 2rem;
      left: 2rem;
   }
}

@media screen and (max-width: 820px) {
   .SoundButton {
      bottom: 1.0rem;
   }
}