:root {
   --default-color: rgba(255, 255, 255, .5);
   --active-color: #fff;
   --transition-time: 200ms
}
.SoundButton {
   display: block;
   outline: none; //may god have mercy on my soul
   width: 100px;
   height: 30px;
   cursor: pointer;
   border: none;
   background: none;
   display: flex;
   align-items: center;
   padding: 0;
   margin-top: 36px;
   margin-bottom: 64px;
   color: var(--default-color);
   transition: var(--transition-time);

   &:hover {
      color: var(--active-color)
   }

   &__label {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      margin-right: 8px;
   }

   &__pill {
      border: solid 1px var(--default-color);
      border-radius: 20px;
      width: 38px;
      display: flex;
      padding: 1px;

      &--active {
         border: solid 1px var(--active-color);
      }
   }

   &__circle {
      fill: var(--default-color);
      margin-left: 0;
      transition: 100ms;

      &--active {
         fill: var(--active-color);
         margin-left: 18px;
      }
   }
}