.UI {
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
   /* border: solid 1px blue; */
   color: rgba(255, 255, 255, .9);
   transition: 300ms;
   padding-left: 20px;
}

.UI__question {
   font-size: 42px;
   font-weight: 300;
}

.UI__answer {
   font-size: 38px;
   font-weight: 300;
   margin-top: 60px;
}

.UI__answer--strong {
   font-size: 38px;
   font-weight: 700;
   color: #fff;
}