.UI {
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 50%;
   // border: solid 1px blue;
   color: rgba(255, 255, 255, .9);
   transition: 300ms;
   padding-left: 2rem;

   &__question {
      margin-top: 10rem;
      font-size: 4.2rem;
      font-weight: 300;
   }
   
   &__answer {
      position: absolute;
      bottom: 0%;
      font-size: 3.2rem;
      font-weight: 300;

      &--strong {
         font-weight: 700;
         color: #fff;
      }
   }

   
}

@media screen and (max-width: 1200px) {
   .UI {
      &__question {
         margin-top: 6rem;
         font-size: 3.75rem;
      }
      
      &__answer {
         font-size: 3rem;
      }
   }
}

@media screen and (max-width: 900px) {
   .UI {
      &__question {
         margin-top: 2rem;
         font-size: 3.5rem;
      }
      
      &__answer {
         font-size: 2.5rem;
      }
   }
}

@media screen and (max-width: 820px) {
   .UI {
      height: auto;
      width: 100%;
      padding: 1rem;
      z-index: 999;

      &__question {
         text-align: center;
         margin-top: 2rem;
         font-size: 3.5rem;
      }
      
      &__answer {
         position: static;
         text-align: center;
         width: 100%
      }
   }
}

@media screen and (max-width: 760px) {
   .UI {
      &__question {
         margin-top: 2rem;
         font-size: 3rem;
      }
      
      &__answer {
         // top: 10%;
         font-size: 2.25rem;
      }
   
   }
}