.UI {
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
   // border: solid 1px blue;
   color: rgba(255, 255, 255, .9);
   transition: 300ms;
   padding-left: 2rem;

   &__question {
      margin-top: 10rem;
      font-size: 4.2rem;
      font-weight: 300;
   }
   
   &__answer {
      position: absolute;
      top: 50%;
      font-size: 3.2rem;
      font-weight: 300;

      &--strong {
         font-weight: 700;
         color: #fff;
      }
   }

   &__about-link {
      position: absolute;
      bottom: 3.5rem;
      left: 15rem;
      background: none;
      border: none;
      outline: none;
      color: var(--default-color);
      font-family: inherit;
      font-size: 1.3rem;
      font-weight: 600;
      transition: var(--transition-time);
      cursor: pointer;

      &:hover {
         color: var(--active-color)
      }
   }

   &__dragText {
      position: absolute;
      bottom: 3.75rem;
      right: 0;
      color: var(--default-color);
      font-family: inherit;
      font-size: 1.3rem;
      font-weight: 600;
   }

   &__dragArrow {
      position: absolute;
      bottom: 4rem;
      right: -3.5rem;
      opacity: .5;
      width: 3rem;
   }
}

@media screen and (max-width: 1200px) {
   .UI {
      &__question {
         margin-top: 6rem;
         font-size: 3.75rem;
      }
      
      &__answer {
         top: 50%;
         font-size: 3rem;
      }
   }
}

@media screen and (max-width: 900px) {
   .UI {
      &__question {
         margin-top: 2rem;
         font-size: 3.5rem;
      }
      
      &__answer {
         font-size: 2.5rem;
      }
   }
}

@media screen and (max-width: 820px) {
   .UI {
      width: 100%;
      padding: 1rem;

      &__question {
         text-align: center;
         margin-top: 2rem;
         font-size: 3.5rem;
      }
      
      &__answer {
         position: static;
         text-align: center;
         width: 100%
      }

      &__about-link {
         bottom: 3rem;
         left: 15rem;
      }
   
      &__dragText {
         bottom: 3.25rem;
         right: 3rem;
      }
   
      &__dragArrow {
         bottom: 5.25rem;
         right: 5.4rem;
         width: 3rem;
         transform: rotate(-80deg);
      }
   }
}

@media screen and (max-width: 760px) {
   .UI {
      &__question {
         margin-top: 2rem;
         font-size: 3rem;
      }
      
      &__answer {
         // top: 10%;
         font-size: 2.25rem;
      }
   
   }
}