.UISecondary {

   &__about-link {
      position: absolute;
      bottom: 3rem;
      left: 15rem;
      height: 4.4rem;
      background: none;
      border: none;
      outline: none;
      color: var(--default-color);
      font-family: inherit;
      font-size: 1.3rem;
      font-weight: 600;
      transition: var(--transition-time);
      cursor: pointer;

      &:hover {
         color: var(--active-color)
      }
   }

   &__dragText {
      position: absolute;
      bottom: 4.38rem;
      right: 2rem;
      color: var(--default-color);
      font-family: inherit;
      font-size: 1.3rem;
      font-weight: 600;
   }

   &__dragArrow {
      position: absolute;
      opacity: .5;
      width: 3rem;
      bottom: 6.75rem;
      right: 4rem;
      transform: rotate(-80deg);
   }
}

@media screen and (max-width: 900px) {
   .UISecondary {

      &__about-link {
         bottom: 2rem;
      }
   
      &__dragText {
         bottom: 3.38rem;
      }
   
      &__dragArrow {
         bottom: 5.75rem;
      }
   }
}

@media screen and (max-width: 820px) {
   .UISecondary {

      &__about-link {
         bottom: 1rem;
         left: 13rem;
      }
   
      &__dragText {
         bottom: 2.38rem;
      }
   
      &__dragArrow {
         bottom: 4.75rem;
      }
   }
}


@media screen and (max-width: 400px) {
   .UISecondary {
      &__about-link {
         bottom: 1rem;
      }
   }
}