* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: linear-gradient(to bottom, #5f656b 0%,#93989e 67%,#d7dbe0 100%);
  user-select: none;
}
canvas {
  height: 100%;
  width: 100%;
  outline: none;
}

.App {
  max-width: 1000px;
  margin: auto;
  /* border: solid 1px red; */
  position: relative;
  height: 100vh;
}

.App__canvas {
  margin: 0 -100px 0 -100px;
  max-width: 800px;
  /* border: solid 1px green; */
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}
