:root {
  --default-color: rgba(0, 0, 0, .4);
  --active-color: rgba(0, 0, 0, .70);
  --transition-time: 200ms
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: linear-gradient(to bottom, #5f656b 0%,#93989e 67%,#d7dbe0 100%);
  user-select: none;
}
canvas {
  height: 100%;
  width: 100%;
  outline: none;
}

.App {
  max-width: 100rem;
  margin: auto;
  /* border: solid 1px red; */
  position: relative;
  height: 100vh;
}

.App__canvas {
  margin: 0 -10rem 0 -10rem;
  max-width: 80rem;
  /* border: solid 1px green; */
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}


@media screen and (max-width: 820px) {
  .App__canvas {
    margin: 0;
    padding-top: 8rem;
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (max-width: 500px) {
  .App__canvas {
    padding-top: 12rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 450px) {
  .App__canvas {
    padding-top: 20rem;
    padding-bottom: 8rem;
  }
}